@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    /* scrollbar-color: #1c1c1c #cccccc; */
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-track {
    /* background: #cccccc; */
  }

  *::-webkit-scrollbar-thumb {
    /* background-color: #1c1c1c; */
    border-radius: 10px;
    /* border: 2px solid #ffffff; */
  }